/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
} */

body {
  background-image: url("https://i.pinimg.com/originals/28/09/22/2809229747a49c03e39830d28a177bea.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  color: #000000;
  font-family: "Bigelow Rules";
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navBar {
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  z-index: 9999; /* Ajusta el valor del z-index según sea necesario */
}

.paginadoContainer {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}