.paginado {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 20px 0;
}

.paginado li {
  margin: 0 10px;
}

.paginado button {
  color: rgb(206, 18, 18);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.paginado button:focus {
  outline: none;
}

.paginado .number.active button {
  color: #fff;
  background-color: #a00808;
  border-radius: 50%;
  padding: 5px 8px;
}

.inicioFin {
  background: rgb(177, 9, 9); 
  color: rgb(255, 255, 255); 
  width: 55px;
}

.paginado .disabled button {
  color: #ffffff;
  cursor: not-allowed;
}
